.btn-1{
    width:200px;
  height:50px;
  background:rgb(255, 255, 255);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 0px 5px  rgba(255,255,255,0.6);
  transition: 0.5s;
}
.btn-1:before{
    content: "";
  position: absolute;
  left:0;
  top:0;
  width: 0;
  height: 0;

  border-top: 2px solid rgb(53, 39, 162);
  border-right: 2px solid rgb(53, 39, 162);
  animation: border-top-right 3s infinite alternate;
}
.btn-1:after{
    content: "";
  position: absolute;
  right:0;
  bottom:0;
  width: 0;
  height: 0;
  border-bottom:2px solid rgb(53, 39, 162);
  border-left: 2px solid rgb(53, 39, 162);
  animation: border-bottom-left 3s infinite alternate;
}
.btn-1:hover {
    background:rgb(53, 39, 162);
    box-shadow: 0px 0px 10px  rgba(255,255,255,0.6);;
  }
  @keyframes border-top-right {
    0%    {width:0px;   height:0px;}
    25%   {width:200px; height:0px;}
    50%   {width:200px; height:48px;}
    100%  {width:200px; height:48px;}
  }
  @keyframes border-bottom-left {
    0%    {width:0px;   height:0px; opacity: 0;}
    50%   {width:0px;   height:0px; opacity: 0;}
    50.1% {width:0px;   height:0px; opacity: 1;}
    75%   {width:200px; height:0px; opacity: 1;}
    100%  {width:200px; height:48px;opacity: 1;}
  }
